body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header{
    background-color: #333;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

}

main a:hover{
    color: #0056b3;
}
.forgot-conteiner{
    background-color: white;
    text-align: center;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(59, 54, 54);
    text-align: center;
    padding: 20px;
}
.forgot-conteiner h2 {
    margin-bottom: 20px;
    color: #333;
}
.forgot-group{
    margin-bottom: 15px;
    text-align: left;
}
.forgot-group input{
    padding:  8px;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    font-size: 19px;
    width: 90%;
}
.forgot-group label{
    display: block;
    font-weight: bold;
    color: #555;
}
.forgot-button{
    background-color: rgb(71, 82, 94);
    border:  none;
    width: 50%;
    border-radius: 4px;
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.forgot-button:hover{
    background-color: rgb(50, 57, 65);
}
.cartds{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.product-card {
    height: auto;
    width: auto;
    padding: 15px;
    margin: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.1);   
}
/*1366x768*/
@media (max-width: 1366px) {
    .cartds {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*1280x720*/
@media (max-width: 1280px) {
    .cartds {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*800x480*/
@media (max-width: 800px) {
    .cartds {
        grid-template-columns: repeat(2, 1fr);
    }
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.product-card .title {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.product-card .price {
    font-size: 18px;
    color: #111;
    font-weight: bold;
    margin-top: 10px;
}
.product-card button{
    background-color: #5f90c5;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding: 5px;
    margin: 5px;
}
.product-card   button:hover{
    background-color: #4a7aaf;
}
.product-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.product-card .out-of-stock {
    color: red;
    font-size: 14px;
} 
.product-card .in-stock {
    color: rgb(20, 204, 51);
    font-size: 14px;
}  
.privacy-policy p{
    text-align: left;
    margin-left: 300px;
    color: #555;
}
.privacy-policy a{
    text-decoration: none;
    color: #007bff;
    transition: 0.4s;
}
.privacy-policy h3{
    text-align: left;
    margin-left: 300px;
    color: #333;
}
footer{
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: flex;
}
footer a{
    text-decoration: none;
    color: rgb(136, 81, 81);
    transition: 0.4s;
}
footer a:hover{
    color: rgb(116, 69, 69);
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
nav ul li a:hover{
    text-decoration: underline;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    
}
.login{
    display: flex;
    justify-content: center;
}
.login-conteiner{
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.login-conteiner h2 {
    margin-bottom: 20px;
    color: #333;
}
.input-group{
    margin-bottom: 15px;
    text-align: left;
}
.input-group label{
    display: block;
    font-weight: bold;
    color: #555;
}
.input-group input{
    padding:  8px;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    font-size: 14px;
    width: 95%;
}
.login-button {
    background-color: rgb(49, 132, 226);
    border:  none;
    width: 95%;
    font-size: 25px;
    border-radius: 4px;
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.login-button:hover{
    background-color: #0157b4;
}
.forgot-password{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}
.forgot-password:hover{
    text-decoration: underline;
}
.catalog h1{
    text-align: center;
    color: #333;
}
.searchbar{
    width: 100%;
    max-width: 600px;
    margin: 20px;
    display: flex;
    margin-left: 0px;
}
.searchbar input{
    padding: 8px;
    border: 1px solid #a3a3a3;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
.searchbar button{
    background-color: #2e5681;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    width: 25%;
    font-size: 16px;
    transform: 0.3s;
}
.searchbar button:hover{
    background-color: #1a3a5e;
}
.catalog-container{
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
}   
.catalog-filter{
    display: grid;
    grid-template-rows: repeat(5, 0.5fr);
    height: auto;
    width: 100%;  
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.1);
}
@media (max-width: 1280px) {
    .catalog-container {
        grid-template-columns: 1fr;
    }
    .catalog-filter{
        display: flex;
        height: 100%;
    }
    .catalog-filter h2{
        margin-top: auto;
    }
}
.catalog-product-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/*1366x768*/
@media (max-width: 1366px) {
    .catalog-product-list {
        grid-template-columns: repeat(4, 1fr);
        
    }
}
/*1280x720*/
@media (max-width: 1280px) {
    .catalog-product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*800x480*/
@media (max-width: 800px) {
    .catalog-product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
.general-info{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    width: 100%;
}
.general-info-img{
    text-align: center;
}
.general-info-img img{
    height: auto;
    width: 90%;

}
.general-info-bar{
    padding: 1%;
    background-color: rgb(236, 236, 234);
}   
.general-info-bar h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.general-info-bar p{
    margin-top: 5%;
}
.general-info-bar h2{
    margin-top: 15%;
    font-family: 'Courier New', Courier, monospace;
}
.general-info-bar p{
    font-size: 20px;
    text-align: left;
}
.label{
    font-size: 20px;
    text-align: left;
    margin-top: 2%;
}
.general-info-bar button{
    background-color: rgb(49, 132, 226);
    border:  none;
    width: 15%;
    height: 8%;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.general-info-bar button:hover{
    background-color: #0157b4;
}
.general-info-text h2{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 85%;
    font-size: 15px;
    text-align: left;
}
.stars{
  color: gold;
  font-size: 2em;
  display: inline-block;
}

.basketh2{
    display: flex;
    justify-content: center;
}
.baskettext{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    color: #333;
}
.baskettextbutton{
    display: grid;
    grid-template-rows: 0.4fr 0.6fr;
    color: #333;
}
.baskettext button{
    background-color: #5f90c5;
    color: white;
    border-radius: 5px;
}
.baskettextbutt{
    margin-top: 5%;
    height: 10%;
    width: 30%;
}
.baskettext button:hover{
    background-color: #3c5b7c;
}
.baskettextbutton button{
    background-color: rgb(158, 26, 26);
    color: white;
    border-radius: 5px;
    height: 30%;
}
.baskettextbutton button:hover{
    background-color: rgb(102, 21, 21);
}

.basket-container{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    margin: 20px;
}
.basket-items{
    width: 90%;
    height: 30%;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.1);    
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}
.basket-items img{
    border-radius: 10px;
    height: 90%;
    width: 90%;
    padding: 10px;
}
.basket-item button{
    background-color: #5f90c5;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding: 5px;
}
.basket-items a{
    padding: 10px;
    margin-left:100%;
    text-decoration: none;
    color: red;
}
.product-cart{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr ;
    height: 40%;
    width: 100%;
}
.total{
    background-color: rgb(152, 216, 163);
    display: grid;
    grid-template-columns: 1fr 0.05fr;
    margin: 20px;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
}
.totalph{
    display: flex;
    align-items: center;
}
.totalp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.totaltotal{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;

}
.totaltotaltotal{
    display: flex;
    border-right: 1px solid rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
}
.form-group input {
    padding: 8px;
    background: white;
    border-radius: 3px;
    width: 100%;
}
.form-group textarea {
    padding: 8px;
    background: white;
    border-radius: 3px;
}
.form-group span {
    color: gray;
    min-width: 1%;
}